body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.numberText1{
    background: url(../images/939871.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-color: rgba(54, 54, 204, 0.383);
    background-blend-mode: multiply;
    
}
.numberText2{
    background: url(../images/guilherme-stecanella-RU4bJx05p_Q-unsplash.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-color: rgba(54, 54, 204, 0.383);
    background-blend-mode: multiply;
}
.numberText3{
    background: url(../images/banner.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-color: rgba(54, 54, 204, 0.383);
    background-blend-mode: multiply;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin:auto;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}